<html>
    <head>
        <title>Obiad</title>
    </head>
    <body>
   <div>
            <h1><a href="">Co dziś zjecie na obiad?</a></h1>
        </div>
{% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
{% endfor %}
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Co przygotować?</a></h2>
            <p>Boguś, Przemek, Grześ!!!</p>
            <p>Mieso pokroić</p>
            <p>Cebulę pokroić</p>
            <p>Paprykę pokroić</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Jak ugotować</a></h2>
            <p>Wrzuć do gara, mieszaj.</p>
            <p>Dolej sosu pomidorowego</p>
            <p>Na małym ogniu duś aż miękkie będzie</p>
            <p>Smacznego!</p>	
            </p>
        </div>
     </body>
</html>